@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    background-color: #FAFAFA;
}

.title{
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content:space-between;
    font-family: 'Poppins';
    padding: 5rem;
    width: 90%;
}

/*The creative*/
.title h1{
    font-family: 'PT Serif';
    font-weight: 700;
    font-size: 3rem;
    line-height: 48px;
    letter-spacing: -0.045rem;
    padding-bottom: 2rem;
}

.about{
    width: 35%;
    padding: 1rem;
}

/* Who we are */
.about h2{
    text-transform: uppercase;
    font-weight: 600;
    line-height: 27px;
}

/* We are team of creatively diverse. driven. innovative individuals working in various locations from the world. */
.about p{
    padding-top: 1rem;
    font-weight: 400;
    line-height: 27px;
}

/*My team Image*/
img{
    max-width: 290px;
} 

/*Child selection 1st and midle*/
.member:first-child img{
    transform:matrix(-1, 0, 0, 1, 0, 0);
}

.member:nth-child(3n + 2){
    margin-bottom: 0;
    margin-top: 5rem;
}
/*The team*/
.team1{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.team2{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
/*Team Title*/
.job-title{
    font-family: 'PT Serif';
    text-transform: uppercase;
    writing-mode: vertical-lr;
    float: right;
    font-size: .75rem;
    font-weight: 400;
    line-height: 15.9px;
    position: relative;
    top: -28rem;
    left: 1.5rem;
}

/*Team Names*/
.name{
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing:0em;
}